footer {
  background-color: black;
  padding: 70px 0px 70px;
  background-color: rgb(30, 27, 38, 10);
}

footer img{
  width: 300px;
  padding-bottom: 20px;
}

.footer_content{ 
  background-color: rgb(30, 27, 38, 10);

}