@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap");
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: rgb(43, 43, 43);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

main {
  flex: 1;

}

header h1{
  padding-bottom: 30px;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  padding-bottom: 50px;
  font-weight: 200;
}

@media (max-width: 768px) {
  header h1 {
    padding-bottom: 0;
  }
}